section{
    padding: 12px;
}

.table-responsive{
    display: flex;
    justify-content: center;
}

.table {
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.btn {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
}
